{% if request.session.user %}
{% set logged_in = True %}
{% set username = request.session.user.login %}
{% else %}
{% set logged_in = False %}
{% endif %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Manage Incident Sets</title>

  <!-- Bootstrap -->
  <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container">
    <header class="p-3 mb-3 border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/manage" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
            <div class="me-2" width="40" height="32">
              <img src="{{ url_for('static', path='/img/favicon-32x32.png') }}" alt="" width="32" height="32">
            </div>
          </a>
          {% if logged_in %}
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{{ url_for('ui_manage_list') }}"
                class="nav-link px-2 {% if action == 'list' %}link-secondary{% else %}link-body-emphasis{% endif %}">List</a>
            </li>
            <li><a href="{{ url_for('ui_manage_new') }}"
                class="nav-link px-2 {% if action == 'new' %}link-secondary{% else %}link-body-emphasis{% endif %}">New</a>
            </li>
          </ul>

          <div class="dropdown text-end">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{request.session.user.avatar_url}}" alt="{{username}}" width="32" height="32"
                class="rounded-circle">
            </a>
            <ul class="dropdown-menu text-small">
              <li><a class="dropdown-item" href="{{ url_for('auth_logout') }}">Sign out</a></li>
            </ul>
          </div>
          {% else %}
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></ul>
          <a class="btn btn-outline-primary me-2" href="{{ url_for('auth_login') }}">Login</a>
          {% endif %}
        </div>
      </div>
    </header>

    <main>
      {% if logged_in %}
      {% if action == "new" %}
      <form id="incidentSetForm" data-set-creator="{{username}}">
        <div class="row g-3 incident">
          <div class="col-sm-3">
            <input type="text" class="form-control inputTitle" placeholder="Title" aria-label="Title" required>
          </div>
          <div class="col-sm">
            <input type="text" class="form-control inputScenario" placeholder="Scenario" aria-label="Scenario" required>
          </div>
          <div class="col-sm-1">
            <input class="btn btn-outline-danger removeIncident" type="button" value="Remove"
              onclick="removeIncident(this)" disabled>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col col-lg-1">
            <input class="btn btn-outline-primary" type="button" value="Add Another" onclick="addAnother()">
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      {% elif action == "edit" %}
      <form id="editIncidentSetForm" data-set-id="{{incident_set.id}}">
        {% for incident in incident_set.incidents.root %}
        <div class="row g-3 incident">
          <div class="col-sm-3">
            <input type="text" class="form-control inputTitle" placeholder="Title" aria-label="Title" required
              value="{{incident.title}}">
          </div>
          <div class="col-sm">
            <input type="text" class="form-control inputScenario" placeholder="Scenario" aria-label="Scenario" required
              value="{{incident.scenario}}">
          </div>
          <div class="col-sm-1">
            <input class="btn btn-outline-danger removeIncident" type="button" value="Remove"
              onclick="removeIncident(this)">
          </div>
        </div>
        {% endfor %}
        <div class="row justify-content-md-center">
          <div class="col col-lg-1">
            <input class="btn btn-outline-primary" type="button" value="Add Another" onclick="addAnother()">
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary" {{ 'disabled' if incident_set.creator !=username
            }}>Submit</button>
        </div>
      </form>
      {% elif action == "list" %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Created</th>
            <th scope="col">Last Modified</th>
            <th scope="creator">Creator</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for set in incident_sets %}
          <tr data-set-id="{{set.id}}" data-set-creator="{{set.creator}}" class="incident-set">
            <td>{{set.id}}</th>
            <td><span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{set.created |
                date_rfc1123}}">{{set.created |
                date_relative}}</span></td>
            <td><span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{set.last_modified |
                date_rfc1123}}">{{set.last_modified |
                date_relative}}</span></td>
            <td>{% if set.creator and set.creator != 'system' %}
              <div class="d-flex">
                <a href="https://github.com/{{set.creator}}" class="text-decoration-none" target="_blank">
                  <span
                    class="badge d-flex align-items-center p-1 pe-2 text-dark-emphasis bg-light-subtle border border-dark-subtle rounded-pill">
                    <img class="rounded-circle me-1" width="24" height="24" src="https://github.com/{{set.creator}}.png"
                      alt="{{set.creator}}">{{set.creator}}
                  </span>
                </a>
              </div>
              {% else %}
              [system]
              {% endif %}
            </td>
            <td>
              <div class="col">
                <a href="{{ url_for('ui_wheel', incident_set_id=set.id) }}" class="btn btn-outline-success">Wheel</a>
                <a href="{{ url_for('ui_manage_edit', incident_set_id=set.id) }}"
                  class="btn btn-outline-primary">Edit</a>
                <button class="btn btn-outline-danger" onclick="deleteSet(this)" {% if set.creator !=username
                  %}disabled{% endif %}>Delete</a>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-danger" role="alert">
        Invalid action.
      </div>
      {% endif %}
      {% else %}
      <div class="alert alert-danger" role="alert">
        You must be logged in to add a new incident set.
      </div>
      {% endif %}
    </main>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', path='/js/manage.js') }}"></script>
</body>

</html>
