<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Add New Incident Set</title>

  <!-- Bootstrap -->
  <link href="{{ url_for('static', path='/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/new" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <div class="me-2" width="40" height="32">
          <img src="{{ url_for('static', path='/img/favicon-32x32.png') }}" alt="" width="32" height="32">
        </div>
        <span class="fs-4">Add New Incident Set</span>
      </a>
    </header>
    <form id="incidentSetForm">
      <div class="row g-3 incident">
        <div class="col-sm-3">
          <input type="text" class="form-control inputTitle" placeholder="Title" aria-label="Title" required>
        </div>
        <div class="col-sm">
          <input type="text" class="form-control inputScenario" placeholder="Scenario" aria-label="Scenario" required>
        </div>
        <div class="col-sm-1">
          <input class="btn btn-outline-danger removeIncident" type="button" value="Remove"
            onclick="removeIncident(this)" disabled>
        </div>
      </div>
      <div class="row justify-content-md-center">
        <div class="col col-lg-1">
          <input class="btn btn-outline-primary" type="button" value="Add Another" onclick="addAnother()">
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <script src="{{ url_for('static', path='/js/new.js') }}"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
</body>

</html>
