boto3==1.28.26
fastapi==0.101.1
uvicorn[standard]==0.23.2
gunicorn==21.2.0
boto3-stubs==1.28.26
mypy-boto3-s3==1.28.19
nh3==0.2.14
python-dotenv==1.0.0
jinja2==3.1.2
authlib==1.2.1
itsdangerous==2.1.2
httpx==0.24.1
python-ulid==1.1.0
asgiref==3.7.2
pendulum==2.1.2
